Labs.sln
Lab-1-Basics/bin
Lab-1-Basics/obj
Lab-1-Basics/Lab-1-Basics.csproj
Lab-2-OOP-C#/Lab-2-OOP-C#.csproj
Lab-2-OOP-C#/bin
Lab-2-OOP-C#/obj
Lab-3-OOP-C#/Lab-3-OOP-C#.csproj
Lab-3-OOP-C#/bin
Lab-3-OOP-C#/obj
Delegates_Lab/.vs
Delegates_Lab/Delegates_Lab/bin
Delegates_Lab/Delegates_Lab/obj
Delegates_Lab/Delegates_Lab/Delegates_Lab.csproj
Delegates_Lab/Delegates_Lab.slnx
WinForm_Lab1_CompanyRevenue/.vs
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue.slnx
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue/bin
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue/obj
.gitignore
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue.csproj
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue.csproj.user
WinForm_Lab1_CompanyRevenue/WinForm_Lab1_CompanyRevenue/Form1.resx
WinFormsLab_Part2/.vs
WinFormsLab_Part2/WinFormsLab_Part2.slnx
WinFormsLab_Part2/WinFormsLab_Part2/bin
WinFormsLab_Part2/WinFormsLab_Part2/obj
WinFormsLab_Part2/WinFormsLab_Part2/Form1.resx
WinFormsLab_Part2/WinFormsLab_Part2/WinFormsLab_Part2.csproj
WinFormsLab_Part2/WinFormsLab_Part2/WinFormsLab_Part2.csproj.user
Company_Format_App_Lab_3/.vs
Company_Format_App_Lab_3/CompanyFormatApp.slnx
Company_Format_App_Lab_3/CompanyFormatApp/bin
Company_Format_App_Lab_3/CompanyFormatApp/obj
Company_Format_App_Lab_3/CompanyFormatApp/CompanyFormatApp.csproj.user
Company_Format_App_Lab_3/CompanyFormatApp/Form1.resx
Company_Format_App_Lab_3/CompanyFormatApp/Form2.resx
Company_Format_App_Lab_3/CompanyFormatApp/CompanyFormatApp.csproj



