Labs.sln
Lab-1-Basics/bin
Lab-1-Basics/obj
Lab-1-Basics/Lab-1-Basics.csproj
Lab-2-OOP-C#/Lab-2-OOP-C#.csproj
Lab-2-OOP-C#/bin
Lab-2-OOP-C#/obj
Lab-3-OOP-C#/Lab-3-OOP-C#.csproj
Lab-3-OOP-C#/bin
Lab-3-OOP-C#/obj




